.DS_Store
*.pyc
*.log
__pycache__
.dropbox.attr
.ftpconfig
.nfs*
.idea
.pytest_cache
.vscode
*.done
.coverage
coverage.xml
neural_sp.egg-info
wandb

# CI test
examples/ci_test/data
examples/ci_test/results
examples/ci_test/sample
/examples/aishell/s5/paper/acoustic/data/results/aishell1/
/examples/aishell/s5/paper/lambda/con/data/results/aishell1/
/examples/aishell/s5/paper/lambda/con/score.zip
/examples/aishell/s5/data/results/aishell1/
/tools/neural_sp/
/build/lib/neural_sp/
/dist/
/tools/neural_sp/kaldi/
/tools/neural_sp/warp-transducer/
/tools/neural_sp/warp-transducer/
/tools/neural_sp/kaldi/
/tools/neural_sp/warp-transducer/build/
/examples/aishell/s5/paper/lambda/con/data/
